@page "/Disabled"
@attribute [AllowAnonymous]
@inject ISignUpservices ia
<h2>Account Disabled</h2>
<br/>
<h2>
   Your account has been Disabled.
</h2>
<Divider/>

<h3>
    Please, Contact us at info contact us at support@FunOlympic.com

    </h3>
